@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./styles/styles.css);
@import url(./styles/polaroid.css);

@font-face {
  font-family: 'Mel';
  src: url(./fonts/LC\ Chalk.ttf);
}
@font-face {
  font-family: 'Dear';
  src: url(./fonts/ofont.ru_Czizh.ttf);
}
@font-face {
  font-family: 'Comfort';
  src: url(./fonts/ofont.ru_Comfortaa.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dear", sans-serif;
  color: rgb(37, 55, 89);
  background: #d4d4d4;
}

h2 {
  /* font-family: "Comfort", sans-serif; */

}

main {
  max-width: 425px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background: #fff;
}

img {
  width: 100%;
}

#loading-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 425px;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 9999;
}