
.star {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}
.heart-icon {
  width: 50px;
  position: absolute;
}
.flower-icon {
  width: 50px;
  position: absolute;
}

.selim {
  font-family: 'Mel';
  color: pink;
}

.first_block {
  .polaroid_wrapper {
    display: flex;
    position: relative;
    height: 40vh;
    margin: 60px 0;
    .card_wrapper {
      position: absolute;
      width: 230px;
      
      p {
        font-size: 16px;
        // padding: 20px 0;
        text-align: center;
      }

      &:first-child {
        left: 0;
        transform: rotate(-9deg);
        animation: rotate 5s linear infinite;
      }
      &:last-child {
        top: 70px;
        right: -15px;
        transform: rotate(9deg);
        animation: rotate-reverse 5s linear infinite;
      }
    }
  }

  .love_names {
    margin-top: 70px;
    text-align: center;
    p {
      font-weight: 500;
      font-size: 34px;
    }
    img {
      width: 100px;
      margin: 0 auto;
    }
  }
}

.recognize {
  font-family: "Raleway", sans-serif;
  position: relative;
  .star {
    top: -20px;
  }
  .star-recognize {
    position: absolute;
    bottom: 70%;
    left: 0;
    width: 50px;
  }
  .info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-weight: 500;
      font-size: 30px;
    }
    p {
      font-size: 16px;
      line-height: 14px;
    }
  }

  .card_wrapper {
    margin: 0 auto;
    position: static;
    margin-top: 20px;
    transform: rotate(-9deg);
    width: 100%;
    p {
      font-size: 14px;
      bottom: 60px;
    }
  }
}

.dear_guests {
  text-align: center;
  font-family: "Raleway", sans-serif;
  position: relative;
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 18px;
    }
    p {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .date {
    margin-top: 30px;
    background-image: url('https://static.tildacdn.com/tild3737-6636-4761-b233-343566303366/Group_100_2.svg');
    padding: 26px;
    font-size: 40px;
    background-size: 100% 100%;
  }

  .star {
    top: 20%;
    z-index: -1;
  }
  .heart-icon {
    bottom: 50%;
    left: 0;
  }
}

.day_program {
  font-family: "Raleway", sans-serif;
  position: relative;
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
  .list {
    width: 94%;
    margin: 20px auto;
    margin-right: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
      .time {
        margin-top: 14px;
        font-size: 25px;
        font-weight: 400;
      }
      img {
        width: 40px;
        height: 50px;
        align-self: self-start;
      }
      div {
        // width: 180px;
        margin-top: 10px;
        h3 {
          font-size: 23px;
          font-weight: 400;
          letter-spacing: 3px;
          line-height: 39px;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          line-height: 22px;
        }
      }
    }
  }
  .flower-icon {
    bottom: 43%;
    left: 0;
  }
}

.geolocation {
  min-height: 50vh;
  font-family: "Raleway", sans-serif;

  .card_wrapper {
    // max-width: 425px;
    width: 100%;
    margin: 0 auto;
    p {
      bottom: 17%;
      font-weight: 400;
      font-size: 16px;
    }
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 47px;
  }
  .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      margin: 0 auto;
      width: 250px;
      font-size: 16px;
      line-height: 26px;
    }

    button {
      cursor: pointer;
      margin: 0 auto;
      max-width: 250px;
      color: #fff;
      padding: 10px 15px;
      border-radius: 24px;
      background: rgb(93, 178, 206);
      font-size: 20px;
      border: none;
      outline: none;
      transition: all .3s ease-in-out;
      &:hover {
        background: rgb(93, 178, 206, 0.8);
      }
    }
  }
}

.wishes {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  h2 {
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 400;
  }
  .flower {
    width: 45px;
    margin: 0 auto;
    
    animation: rotate 5s linear infinite;
  }
  .line {

  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
}

.Anketa {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
  .info {
    h2 {
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 1px;
    }
    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 28px;
    }
  }
  form {
    .first_form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      .input {
        font-size: 14px;
        line-height: 23px;
        font-weight: 400;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        text-align: start;
        input {
          border: none;
          border-bottom: 1px solid #000;
          border-radius: 0px;
          width: 100%;
          padding: 10px;
        }
      }
      .radio {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 16px;
        
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 23px;
          text-align: start;
          margin-bottom: 10px;
        }
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;
          text-align: start;
          align-self: self-start;
          position: relative;

          input {
            padding: 10px;
          }
        }
      }
    }
    button {
      font-family: 'Raleway', sans-serif;
      cursor: pointer;
      margin: 30px auto;
      max-width: 250px;
      width: 100%;
      color: #fff;
      padding: 20px 15px;
      border-radius: 60px;
      background: rgb(93, 178, 206);
      font-size: 16px;
      border: none;
      outline: none;
      transition: all .3s ease-in-out;
      &:hover {
        background: rgb(93, 178, 206, 0.8);
      }
    }
  }
}

.contacts {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 26px;
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 47px;
    }
    p {
      font-size: 15px;
      line-height: 28px;
      font-weight: 400;
    }
  }
  a {
    font-size: 26px;
    color: #000;
    text-decoration: none;
  }
  img {
    width: 50px;
  }
  .plain {
    width: 70px;
    position: absolute;
    top: -20px;
    right: 0;
  }
}

.gallery {
  display: flex;
  position: relative;
  height: 70vh;
  .card_wrapper {
    position: absolute;
    width: 220px;
    height: 100px;
    &:nth-child(1) {
      left: 0;
      transform: rotate(9deg);
    }
    &:nth-child(2) {
      top: 70px;
      right: -15px;
      transform: rotate(-9deg);
    }
    &:nth-child(3) {
      top: 45%;
      right: 70%;
      transform: translate(50%, -50%) rotate(-5deg);
    }
    &:nth-child(4) {
      top: 50%;
      left: 50%;
      transform: rotate(20deg);
    }
  }
}


.waiting {
  text-align: center;
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .heart {
    width: 70px;
    margin: 10px auto;
    animation: rotate 5s linear infinite;
  }
  .card_wrapper {
    transform: rotate(9deg);
    p {
      font-size: 13px;
      font-weight: 500;
      white-space: nowrap;
      bottom: 14%;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
@keyframes rotate-reverse {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

.deg9 {
  transform: rotate(9deg);
}
.deg-5 {
  transform: rotate(-5deg);
}