

.selim {
  font-family: 'Mel';
  color: pink;
}

.first_block {
  .polaroid_wrapper {
    display: flex;
    gap: 10px;
    min-height: 60vh;
    position: relative;

    .card_wrapper {
      align-self: self-start;
      img {
        height: 200px;
      }
      &:first-child {
        left: 5%;
        position: absolute;
        transform: rotate(-9deg);
      }
      &:last-child {
        right: 5%;
        position: absolute;
        margin-top: 50px;
        transform: rotate(9deg);
      }
    }
  }

  .love_names {
    margin-top: 20px;
    text-align: center;
    p {
      font-weight: 500;
      font-size: 52px;
      line-height: 40px;
    }
    img {
      width: 100px;
      margin: 0 auto;
    }
  }
}

.recognize {
  min-height: 60vh;
  position: relative;
  .info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-weight: 500;
      font-size: 52px;
    }
    p {
      font-size: 25px;
      line-height: 24px;
    }
  }

  .card_wrapper {
    margin: 0 auto;
    position: static;
    margin-top: 20px;
    transform: rotate(-9deg);
    // height: 200px;
    width: 50%;

    .polaroid {
    }
  }
}

.dear_guests {
  text-align: center;
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-weight: 500;
      font-size: 52px;
    }
    p {
      font-size: 25px;
      line-height: 24px;
    }
  }

  .date {
    margin-top: 30px;
    background-image: url('https://static.tildacdn.com/tild3737-6636-4761-b233-343566303366/Group_100_2.svg');
    padding: 26px;
    font-size: 52px;
    background-size: 100% 100%;
  }
}

.day_program {
  h2 {
    text-align: center;
    letter-spacing: 3px;
  }
  .list {
    width: 90%;
    margin: 20px auto;
    margin-right: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      display: flex;
      justify-content: space-between;

      .time {
        font-size: 33px;
      }
      img {
        width: 50px;
        height: 60px;
      }
      div {
        width: 180px;
        h3 {
          font-size: 34px;
          font-weight: 400;
          letter-spacing: 3px;
        }
        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}

.geolocation {
  min-height: 50vh;
  position: relative;

  .card_wrapper {
    max-width: 300px;
    margin: 0 auto;
    position: static;
  }
  .info {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      margin: 0 auto;
      width: 250px;
    }

    button {
      margin: 0 auto;
      max-width: 250px;
      color: #fff;
      padding: 10px 15px;
      border-radius: 24px;
      background: rgb(93, 178, 206);
      font-size: 20px;
      border: none;
      outline: none;
    }
  }
}


.test {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: blue;
  position: relative;

  
}