.star {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.heart-icon {
  width: 50px;
  position: absolute;
}

.flower-icon {
  width: 50px;
  position: absolute;
}

.selim {
  font-family: "Mel";
  color: pink;
}

.first_block .polaroid_wrapper {
  display: flex;
  position: relative;
  height: 40vh;
  margin: 60px 0;
}
.first_block .polaroid_wrapper .card_wrapper {
  position: absolute;
  width: 230px;
}
.first_block .polaroid_wrapper .card_wrapper p {
  font-size: 16px;
  text-align: center;
}
.first_block .polaroid_wrapper .card_wrapper:first-child {
  left: 0;
  transform: rotate(-9deg);
  animation: rotate 5s linear infinite;
}
.first_block .polaroid_wrapper .card_wrapper:last-child {
  top: 70px;
  right: -15px;
  transform: rotate(9deg);
  animation: rotate-reverse 5s linear infinite;
}
.first_block .love_names {
  margin-top: 70px;
  text-align: center;
}
.first_block .love_names p {
  font-weight: 500;
  font-size: 34px;
}
.first_block .love_names img {
  width: 100px;
  margin: 0 auto;
}

.recognize {
  font-family: "Raleway", sans-serif;
  position: relative;
}
.recognize .star {
  top: -20px;
}
.recognize .star-recognize {
  position: absolute;
  bottom: 70%;
  left: 0;
  width: 50px;
}
.recognize .info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recognize .info h2 {
  font-weight: 500;
  font-size: 30px;
}
.recognize .info p {
  font-size: 16px;
  line-height: 14px;
}
.recognize .card_wrapper {
  margin: 0 auto;
  position: static;
  margin-top: 20px;
  transform: rotate(-9deg);
  width: 100%;
}
.recognize .card_wrapper p {
  font-size: 14px;
  bottom: 60px;
}

.dear_guests {
  text-align: center;
  font-family: "Raleway", sans-serif;
  position: relative;
}
.dear_guests .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dear_guests .info h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 18px;
}
.dear_guests .info p {
  font-size: 16px;
  line-height: 18px;
}
.dear_guests .date {
  margin-top: 30px;
  background-image: url("https://static.tildacdn.com/tild3737-6636-4761-b233-343566303366/Group_100_2.svg");
  padding: 26px;
  font-size: 40px;
  background-size: 100% 100%;
}
.dear_guests .star {
  top: 20%;
  z-index: -1;
}
.dear_guests .heart-icon {
  bottom: 50%;
  left: 0;
}

.day_program {
  font-family: "Raleway", sans-serif;
  position: relative;
}
.day_program h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.day_program .list {
  width: 94%;
  margin: 20px auto;
  margin-right: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.day_program .list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.day_program .list li .time {
  margin-top: 14px;
  font-size: 25px;
  font-weight: 400;
}
.day_program .list li img {
  width: 40px;
  height: 50px;
  align-self: self-start;
}
.day_program .list li div {
  margin-top: 10px;
}
.day_program .list li div h3 {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 39px;
}
.day_program .list li div p {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}
.day_program .flower-icon {
  bottom: 43%;
  left: 0;
}

.geolocation {
  min-height: 50vh;
  font-family: "Raleway", sans-serif;
}
.geolocation .card_wrapper {
  width: 100%;
  margin: 0 auto;
}
.geolocation .card_wrapper p {
  bottom: 17%;
  font-weight: 400;
  font-size: 16px;
}
.geolocation h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 47px;
}
.geolocation .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.geolocation .info p {
  margin: 0 auto;
  width: 250px;
  font-size: 16px;
  line-height: 26px;
}
.geolocation .info button {
  cursor: pointer;
  margin: 0 auto;
  max-width: 250px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 24px;
  background: rgb(93, 178, 206);
  font-size: 20px;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.geolocation .info button:hover {
  background: rgba(93, 178, 206, 0.8);
}

.wishes {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.wishes h2 {
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 400;
}
.wishes .flower {
  width: 45px;
  margin: 0 auto;
  animation: rotate 5s linear infinite;
}
.wishes p {
  font-size: 16px;
  line-height: 28px;
}

.Anketa {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.Anketa .info h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
.Anketa .info p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
}
.Anketa form .first_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Anketa form .first_form .input {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  text-align: start;
}
.Anketa form .first_form .input input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
}
.Anketa form .first_form .radio {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
}
.Anketa form .first_form .radio p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: start;
  margin-bottom: 10px;
}
.Anketa form .first_form .radio label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: start;
  align-self: self-start;
  position: relative;
}
.Anketa form .first_form .radio label input {
  padding: 10px;
}
.Anketa form button {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  margin: 30px auto;
  max-width: 250px;
  width: 100%;
  color: #fff;
  padding: 20px 15px;
  border-radius: 60px;
  background: rgb(93, 178, 206);
  font-size: 16px;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.Anketa form button:hover {
  background: rgba(93, 178, 206, 0.8);
}

.contacts {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 26px;
}
.contacts .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts .info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
}
.contacts .info p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
.contacts a {
  font-size: 26px;
  color: #000;
  text-decoration: none;
}
.contacts img {
  width: 50px;
}
.contacts .plain {
  width: 70px;
  position: absolute;
  top: -20px;
  right: 0;
}

.gallery {
  display: flex;
  position: relative;
  height: 70vh;
}
.gallery .card_wrapper {
  position: absolute;
  width: 220px;
  height: 100px;
}
.gallery .card_wrapper:nth-child(1) {
  left: 0;
  transform: rotate(9deg);
}
.gallery .card_wrapper:nth-child(2) {
  top: 70px;
  right: -15px;
  transform: rotate(-9deg);
}
.gallery .card_wrapper:nth-child(3) {
  top: 45%;
  right: 70%;
  transform: translate(50%, -50%) rotate(-5deg);
}
.gallery .card_wrapper:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: rotate(20deg);
}

.waiting {
  text-align: center;
}
.waiting h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 3px;
}
.waiting .heart {
  width: 70px;
  margin: 10px auto;
  animation: rotate 5s linear infinite;
}
.waiting .card_wrapper {
  transform: rotate(9deg);
}
.waiting .card_wrapper p {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  bottom: 14%;
}

@keyframes rotate {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
@keyframes rotate-reverse {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
.deg9 {
  transform: rotate(9deg);
}

.deg-5 {
  transform: rotate(-5deg);
}/*# sourceMappingURL=styles.css.map */